# Python Syntax

## Variables and Identifiers

- A **variable** is a name that is used to refer to a memory location.
- A **Python variable** (or identifier) is used to hold a value.
- A **Python identifier** can be used with variables, functions, and classes.

---
- Python is a **loosely dynamically typed** language.
  - This means you do not need to define the type of a variable explicitly. The interpreter will automatically determine the type of the variable based on the assigned value in **runtime**.
- Python identifier is **case-sensitive**,
    - meaning `myVar` and `myvar` are considered different identifiers
---
### Defining a Variable
To define a variable in Python, simply assign a value to a name **(piece of data)**:

```python
variable_name = value

In [1]:
# phone numbers
name = 'Mona'

In [4]:
x  = 10
X = 5

print(x)
print(X)

10
5

In [ ]:
name = "Ahmed"
weight = 50.5
height = 150
is_accepted = False

---

### Rules for Python Identifiers:
- The identifier should start with:
  - A letter (A-Z, a-z) or an underscore (`_`)
- The identifier shouldn't contain any punctuation characters.
- The name can include:
  - Letters (A-Z, a-z), digits (0-9) but not start, and underscores (`_`)

## Reserved Words

Some reserved words (keywords) cannot be used as identifiers in Python. These are special words reserved by Python for specific purposes and cannot be used for variable names, function names, etc.

![Guido van Rossum](images/reserved_words.png "Guido van Rossum")

In [ ]:
# name. = "mona"
def = 20
1num = 5
and = 10

SyntaxError: invalid decimal literal (2777972094.py, line 3)

# Python Data Types

Python supports two main categories of data types:

## 1. Primitive Data Types (Scaler Data Types)
Primitive data types are the basic building blocks of data manipulation. They contain pure and simple values of data.

### Examples of Primitive Data Types:
- **Integers**: Whole numbers, e.g., `5`, `-10`, `100`
- **Float**: Floating-point numbers, e.g., `3.14`, `-0.001`
- **Strings**: Sequence of characters, e.g., `"Hello"`, `'Python'`
- **Boolean**: Represents either `True` or `False`

## 2. Non-Primitive Data Types
Non-primitive data types are more complex. They do not just store a single value, but rather a collection of values in various formats.

### Examples of Non-Primitive Data Types:
- **Tuples, Lists, Sets, Dictionaries**

---
#### Variable types and conversions(**casting**),  check the variable type by call function **type()** or Using **isinstance()**
---

In [4]:
year = 2020 # change value in run time
type(year)

int

In [5]:
year = "2020" # change datatype of variable in run time
type(year)

str

In [7]:
isinstance(year, int)

False

> #### **Integer Data types:**

In [6]:
number = 10

In [11]:
type(number)

int

In [8]:
# large integers
num = 1_000_000
print(num)

1000000

In [9]:
type(num)

int

> #### **Float Data types:**

In [11]:
PI = 3.14
type(PI)

float

> #### **String Data types:**

In [16]:
# 1- single quote
name = 'ahmed'
# 2 - double quote
Name = "mohamed" # case sensitive & python interpret detect datatypes in runtime

# 3- multi-line string ?
Address = ("NNNNNNNNNNNNNNNN\n"
           "mmmmmmmmmmmmmmmmm\n"
           ""
           "")


bio = ("case sensitive & python interpret\n"
       "detect datatypes in runtime\n"
       "detect datatypes in runtime")

bio = """ Multi
       line
       string """

print(bio)

print(type(name))
print(type(Name))
print(type(bio))

data = "detect datatypes \' in runtime"

 Multi
       line
       string
<class 'str'>
<class 'str'>
<class 'str'>

> The (`*`) **string replication operator**</span>.

In [15]:
"Python " * 5

'Python Python Python Python Python '

> #### **Boolean Data types:**

In [16]:
is_graduated = False
print(type(is_graduated))

<class 'bool'>

---
- ### Type conversions
    - **str(), int(), float(), bool()**
---

In [10]:
# int to string
num = 1234
# int(num), float, str, bool
type(num)

int

In [17]:
num = str(num)
print(type(num))
print(num)

<class 'str'>
1000000

In [ ]:
# int to float
num = 1234
print(type(num))

<class 'int'>

In [19]:
num = float(num)
print(num)

1000000.0

ValueError: invalid literal for int() with base 10: 'Ahmed'

In [23]:
age = int(input("Enter Age:"))

'\nage  = input("Enter Age:")\nm,,m,m\n\n'

In [22]:
type(age)

int

In [25]:
# age = input("Enter Your age?")
# age = int(age)

age = int(input("Enter Your age?"))

In [27]:
print(age)
type(age)

15

int

In [26]:
# x = input("Enter your age: ")

In [23]:
x = int(input("Enter your age: "))
print(type(x))

ValueError: invalid literal for int() with base 10: '1212n'

In [21]:
age = "20"
int(age)


x = "ahmed"
int(x)

ValueError: invalid literal for int() with base 10: 'ahmed'

In [28]:
# numeric string to int
grade = "100"
type(grade)
grade = int(grade)
print(type(grade))

<class 'int'>

In [30]:
# non-numeric string to int --- # sys.getsizeof(name)
name = "mona"
name = int(name)
print(type(name))

age = "20"
age = int(age)
# name = int(name)

ValueError: invalid literal for int() with base 10: 'mona'

In [ ]:
# str to bool True "", fasle, none, 0
name = "0"
name = bool(name)
print(name)

True

In [25]:
# int to boolean
y = 0
y = bool(y)
print(y)

False

> - 700
> - 2.12
> - '2 pi'
> - abs
> - int

In [26]:
type(abs)

type

In [27]:
type(int)

type

In [49]:
type(print)
abs(-5)

5

In [45]:
type(int)

type

In [33]:
1+1

2

In [35]:
x = input("x") # string
y = input("y")
z = x + y

In [37]:
print(z)

1020

'hhhhh'