### **Introduction to Lists in Python**

A **list** is one of the most commonly used data types in Python. It allows you to store multiple values in a single variable.

#### **Key Features of Lists:**
- **Lists are mutable** → You can modify them after creation.
- **Lists can contain different data types** → Numbers, strings, booleans, other lists, etc.
- **Lists are ordered** → Each element has an index starting from `0`.

---

### **Defining a List**

In [3]:
# You can create an empty list using:
l = []
myl = list()
print(l, myl)
type(myl)

[] []

list

In [11]:
# 2. Lists Can Hold Different Data Types
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'css', "html"], "iti"]
print(myl)
len(myl)

[34, 4, 'iti', 344.32, 'ahmed', True, ['python', 'css', 'html'], 'iti']

8

---

### **Accessing individual elements at a Specified Index**

In [8]:
print(myl[6][1])

css

In [9]:
#3- Accessing individual elements index start from 0
print(myl[4])  # Output: 'ahmed'
# Accessing elements from a nested list

print(myl[6][2])# Output: 'html'

ahmed
html

In [10]:
# 4. Getting the Length of a List
students = ["Ahmed", "Mohamed", "Aya", "Ahmed"]

print(len(students))

4

---

### **Counting Occurrences of an Element in a List**

Python provides the **`count()`** method to determine how many times a specific value appears in a list.

#### **Syntax:**
```python
list.count(value)

In [12]:
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'iti', "html"], "iti"]

# Count occurrences of 'iti'
print(myl.count("iti"))  # Output: 2

# Count occurrences of a number
print(myl.count(4))  # Output: 1

2
1

---

### **Getting the Index of an Element in a List**

Python provides the **`index()`** method to find the position of the **first occurrence** of a specified value in a list.

#### **Syntax:**
```python
list.index(value)

In [13]:
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'css', "html"], "iti"]

print(myl.index("ahmed"))

4

---

### **Slicing a List in Python**

Slicing allows you to extract a portion of a list using the syntax:

#### **Syntax:**
```python
list[start:stop:step]

In [14]:
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'css', "html"], "iti"]

print(myl[3:5])  # Output: [344.32, 'ahmed']

[344.32, 'ahmed']

In [15]:
# Slice with a step of 2 (every second element)
print(myl[::2])

[34, 'iti', 'ahmed', ['python', 'css', 'html']]

In [ ]:
str = "Ahmed"
str[0] = "a"

---

### **Updating Elements in a List: IndexError Consideration**

- Lists are **indexed** from `0` to `len(list) - 1`.
- You **can only update** an element at an **existing index**.
- Trying to assign a value at an index **beyond the current list length** will raise an **`IndexError`**.

#### **Example:**

In [16]:
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'css', "html"], "iti"]
myl[2] = "ITI"

In [17]:
print(myl)

[34, 4, 'ITI', 344.32, 'ahmed', True, ['python', 'css', 'html'], 'iti']

In [18]:
# Define a list
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'css', "html"], "iti"]

myl[100] = "new value"  # This will raise an IndexError

IndexError: list assignment index out of range

---

### **Adding Elements to a List**

Python provides multiple ways to add elements to a list:

1. **`append(value)`** → Adds an element to the **end** of the list.
2. **`insert(index, value)`** → Inserts an element at a **specific index**.
   - If the index **exists**, the element is inserted at that position.
   - If the index is **out of range**, the element is added to the **end** of the list.


### **Example:**

In [19]:
# Define a list
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'css', "html"], "iti"]

# Print original list
print("Original List:", myl)

# Append a new element at the end
myl.append("Mona")
myl.append("Ahmed")

print("After append:", myl)

Original List: [34, 4, 'iti', 344.32, 'ahmed', True, ['python', 'css', 'html'], 'iti']
After append: [34, 4, 'iti', 344.32, 'ahmed', True, ['python', 'css', 'html'], 'iti', 'Mona', 'Ahmed']

### insert() function

In [20]:
# Insert an element at a specific position (index 2)
myl.insert(2, "inserted element")
print("After insert at index 2:", myl)

After insert at index 2: [34, 4, 'inserted element', 'iti', 344.32, 'ahmed', True, ['python', 'css', 'html'], 'iti', 'Mona', 'Ahmed']

In [21]:
# Insert at an index larger than the list length (adds to the end)
myl.insert(100, "any value")
print("After insert at index 100:", myl)

After insert at index 100: [34, 4, 'inserted element', 'iti', 344.32, 'ahmed', True, ['python', 'css', 'html'], 'iti', 'Mona', 'Ahmed', 'any value']

---

### **Removing Elements from a List**

Python provides multiple ways to remove elements from a list:

1. **`pop()`** → Removes and returns the last element.
2. **`pop(index)`** → Removes and returns the element at the specified index.
3. **`remove(value)`** → Removes the **first occurrence** of a specific value.


### **Example:**

In [35]:
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'css', "html"], "iti"]

In [36]:
# Remove and return the last element
print(myl.pop())

iti

In [37]:
print("List after pop():", myl)

List after pop(): [34, 4, 'iti', 344.32, 'ahmed', True, ['python', 'css', 'html']]

In [38]:
# Remove element at a specific index (index 4)
print("Popped Element at Index 4:", myl.pop(4))

Popped Element at Index 4: ahmed

In [39]:
print("List after pop(4):", myl)

List after pop(4): [34, 4, 'iti', 344.32, True, ['python', 'css', 'html']]

In [40]:
myl.pop(100)

IndexError: pop index out of range

> remove(value)

In [41]:
print(myl.remove("iti"))

None

In [42]:
myl.remove("Ahmed")

ValueError: list.remove(x): x not in list

In [ ]:
# Remove the first occurrence of 'iti'

print("List after remove('iti'):", myl)

---

### **Looping Over a List & Checking for an Element**

#### **1. Looping Through a List**
You can use a `for` loop to iterate through each element in a list.


### **Example:**

In [ ]:
type(myl)

In [44]:
myl = ["Laptop", "Smartphone", "Headphone", ['python', 'css', "html"], "Smartphone"]

In [45]:
for item in myl:
    print(item)

Laptop
Smartphone
Headphone
['python', 'css', 'html']
Smartphone

In [58]:
i = 1
for element in myl:
    print(f"element {i} = {element}")
    i+=1

element 1 = 34
element 2 = 4
element 3 = iti
element 4 = 344.32
element 5 = ahmed
element 6 = True
element 7 = ['python', 'css', 'html']
element 8 = iti

In [47]:
myl = [34, 4, "iti", 344.32, "ahmed", True, ['python', 'css', "html"], "iti"]
for element in myl:
    if type(element) == list:
        for item in element:
            print(f"element in list = {item}")
    else:
        print(f"element = {element}")

element = 34
element = 4
element = iti
element = 344.32
element = ahmed
element = True
element in list = python
element in list = css
element in list = html
element = iti

---

#### **2. Checking if an Element Exists in a List**
The `in` operator checks whether an element is present in the list.

### **Example:**

In [48]:
print("iti" in myl)

True

---

### **Concatenating Lists in Python**

You can concatenate (combine) two or more lists using the `+` operator or the `extend()` method.

#### **1. Using `+` Operator**
- Creates a **new** list by combining two existing lists.


### **Example:**

In [49]:
"""---> list concat"""
l1 = ["python", "mongo", "javascript", "sql"]
l2= ["jenkins", "GCP", "Ansible", "Kubernates", "Docker"]
l1 = l1 + l2
print(l1)

['python', 'mongo', 'javascript', 'sql', 'jenkins', 'GCP', 'Ansible', 'Kubernates', 'Docker']

In [ ]:
# Concatenation using +
combined_list = l1 + l2
print("Concatenated List (Using +):", combined_list)

---

#### **2. Using `extend()` Method**
- Adds elements of one list to another **in-place** (modifies the original list).


### **Example:**

In [50]:
# Define two lists
l1 = ["python", "mongo", "javascript", "sql"]
l2 = ["jenkins", "GCP", "Ansible", "Kubernetes", "Docker"]

# Concatenation using extend() (modifies l1)
l1.extend(l2)
print("Concatenated List (Using extend()):", l1)

Concatenated List (Using extend()): ['python', 'mongo', 'javascript', 'sql', 'jenkins', 'GCP', 'Ansible', 'Kubernetes', 'Docker']

---

### **Sorting a List in Python**

Python provides the `sort()` method and the `sorted()` function to arrange elements in a list.

#### **1. Using `sort()` (Modifies Original List)**
- `list.sort()` sorts the list **in-place** (modifies the original list).
- Works only if all elements are of the **same type**.

#### **2. Using `sorted()` (Returns a New Sorted List)**
- `sorted(list)` returns a **new sorted list** without modifying the original list.

---

### **Example:**

In [52]:
# Define a list of strings
courses = ["Aaa", "python", "mongo", "javascript", "sql"]
print("Original List:", courses)

# Sorting in-place using sort() ASC A-Z
courses.sort()
print("Sorted List (Using sort()):", courses)

Original List: ['Aaa', 'python', 'mongo', 'javascript', 'sql']
Sorted List (Using sort()): ['Aaa', 'javascript', 'mongo', 'python', 'sql']

#### **1. Using `sort(reverse=True)`**
- Sorts the list **in-place** in descending order.

In [53]:
courses.sort(reverse=True)
print(courses)

['sql', 'python', 'mongo', 'javascript', 'Aaa']

In [ ]:
courses = ["Aaa", "python", "mongo", "javascript", "sql"]
sortedList = sorted(courses)

print(sorted(courses))
print(courses.sort())

In [ ]:
print(courses)
print(sortedList)

In [ ]:
num = [2, 100, 3, 1, 10, 1000]
print(sorted(num))

---

### **Reverses the order of elements in list**

Python provides method to reverse the order of elements in a list:

#### **2. Using `reverse()`**
- Reverses the order of elements in place **without sorting**.


### **Example:**

In [ ]:
mylist = ["Aaa", "python", "mongo", "javascript", "sql"]
print("Original List: ", mylist)
mylist.reverse()
print("Reversed List: ", mylist)

---

### **Finding the Minimum and Maximum Values in a List**

Python provides built-in functions to determine the smallest and largest values in a list:

#### **1. Using `min()` Function**
- Returns the smallest value in the list.

#### **2. Using `max()` Function**
- Returns the largest value in the list.


### **Example:**

In [54]:
numbers = [3, 454, 23, 323, 12, 21]

print("Minimum Value:", min(numbers))
print("Maximum Value:", max(numbers))

Minimum Value: 3
Maximum Value: 454

---

### **Using `enumerate()` to Iterate Over a List with Index**

The `enumerate()` function in Python is used to loop over an iterable while keeping track of the index of each element.

#### **Benefits of Using `enumerate()`**
- Eliminates the need for manually managing an index variable.
- Provides a cleaner and more readable approach to iterating with indices.
- Can be used with lists, tuples, and other iterable objects.


### **Example:**

In [59]:
mylist = ["python", "sql", "mongo", "javascript", "sql"]

In [60]:
for ele in mylist:
    print(f"element {mylist.index(ele)} : {ele}") # Bug

element 0 : python
element 1 : sql
element 2 : mongo
element 3 : javascript
element 1 : sql

In [61]:
index = 0
for item in mylist:
    print(f"{index} : {item}")
    index += 1

0 : python
1 : sql
2 : mongo
3 : javascript
4 : sql

In [63]:
print(enumerate(mylist))  # enum_object

<enumerate object at 0x000001D31A5B9670>

In [62]:
for index,item in enumerate(mylist):
    print(f"{index} : {item}")

0 : python
1 : sql
2 : mongo
3 : javascript
4 : sql

In [64]:
mylist.clear()

In [66]:
print(mylist)

[]