### **Tuple Data Type**

A **tuple** is one of the most commonly used data types in Python. It allows storing multiple values in an ordered collection.

### **Key Characteristics:**
- **Immutable:** Once created, a tuple **cannot be modified** (i.e., elements cannot be changed, added, or removed).
- **Ordered:** Elements retain their position.
- **Allows Duplicates:** Tuples can have repeated values.
- **Supports Different Data Types:** A tuple can store a mix of integers, strings, floats, and even other tuples.

> **<span style="background:LemonChiffon">ideal for storing data you don't want to accidentally change.</span>**

---

### **Example:**

In [1]:
empty_tuple = ()
my_tuple = tuple()

In [3]:
my_tuple = ("ahmed",25,"sa", 'iti', 65.5, True, ["python","html","linux"], "iti")
print(my_tuple)

('ahmed', 25, 'sa', 'iti', 65.5, True, ['python', 'html', 'linux'], 'iti')

---

### **Accessing Elements in a Tuple**

Each element in a tuple is assigned an **index**, starting from **0**. You can access elements using their index inside square brackets `[]`.

### **Example:**

In [4]:
print(my_tuple)

('ahmed', 25, 'sa', 'iti', 65.5, True, ['python', 'html', 'linux'], 'iti')

In [5]:
print(my_tuple[3])

iti

In [8]:
# Accessing a nested element
print(my_tuple[6][1])

html

In [9]:
len(my_tuple)

8


---

### **Finding the Index of an Element in a Tuple**

The `index()` method is used to find the position of the **first occurrence** of a specified element in a tuple.


### **Syntax:**
```python
tuple_name.index(element)

In [10]:
print(my_tuple)

('ahmed', 25, 'sa', 'iti', 65.5, True, ['python', 'html', 'linux'], 'iti')

In [11]:
print(my_tuple.index("iti"))

3

In [12]:
print(my_tuple.index(25))

1

---

### **Finding the Length of a Tuple**

You can determine the number of elements in a **tuple** using the built-in `len()` function.

---

### **Syntax:**
```python
len(tuple_name)

In [13]:
print("Length of my_tuple is: ",len(my_tuple))

Length of my_tuple is:  8

---

### **Counting Element Occurrences in a Tuple**

The `count()` method is used to determine how many times a specific element appears in a tuple.


### **Syntax:**
```python
tuple_name.count(element)

In [14]:
print(my_tuple.count("iti"))

2

---

### **Slicing a Tuple in Python**

Tuple slicing allows extracting a subset of elements using the slice notation `[start:stop:step]`. Since tuples are **immutable**, slicing creates a **new tuple** without modifying the original.


### **Syntax:**
```python
tuple_name[start:stop:step]

In [17]:
print(my_tuple)
print(len(my_tuple[6]))

('ahmed', 25, 'sa', 'iti', 65.5, True, ['python', 'html', 'linux'], 'iti')
3

In [18]:
print(my_tuple[3:5])   # return new tuple and not include end

('iti', 65.5)

In [19]:
print(my_tuple[::2])

('ahmed', 'sa', 65.5, ['python', 'html', 'linux'])

In [20]:
print(my_tuple[::-1])

('iti', ['python', 'html', 'linux'], True, 65.5, 'iti', 'sa', 25, 'ahmed')

In [21]:
print(my_tuple)

('ahmed', 25, 'sa', 'iti', 65.5, True, ['python', 'html', 'linux'], 'iti')

---
> A **tuple** is an **immutable** data type in Python, meaning once created, its elements **cannot be modified, added, or removed**.
---

In [22]:
print(my_tuple)

('ahmed', 25, 'sa', 'iti', 65.5, True, ['python', 'html', 'linux'], 'iti')

In [9]:
my_tuple[1] = "55"

TypeError: 'tuple' object does not support item assignment

---
> If modification is needed, Convert `tuple` to `list`, `modify`, and `convert back`
---

In [10]:
temp_list = list(my_tuple)
print(temp_list)

['ahmed', 25, 'sa', 'iti', 65.5, True, ['55', 'html', 'linux'], 'iti']

In [11]:
print(type(temp_list))
temp_list[1] = "age updated"
temp_list[6][0] = "python updated"

<class 'list'>

In [26]:

my_tuple = tuple(temp_list)
print(my_tuple)

('ahmed', 'age updated', 'sa', 'iti', 65.5, True, ['python updated', 'html', 'linux'], 'iti')

---

### **Looping Over a Tuple in Python**

Since tuples are **iterable**, you can loop through their elements using a `for` loop.


### **Example:**

In [29]:
print(my_tuple)

('ahmed', 'age updated', 'sa', 'iti', 65.5, True, ['python updated', 'html', 'linux'], 'iti')

In [30]:
for element in my_tuple:
    print(f"{element}")

ahmed
age updated
sa
iti
65.5
True
['python updated', 'html', 'linux']
iti

In [31]:
index = 0
for element in my_tuple:
    print(f"element at index {index} : {element}")
    index += 1

element at index 0 : ahmed
element at index 1 : age updated
element at index 2 : sa
element at index 3 : iti
element at index 4 : 65.5
element at index 5 : True
element at index 6 : ['python updated', 'html', 'linux']
element at index 7 : iti

In [32]:
for index, element in enumerate(my_tuple):
    print(f"element at index {index} : {element}")

element at index 0 : ahmed
element at index 1 : age updated
element at index 2 : sa
element at index 3 : iti
element at index 4 : 65.5
element at index 5 : True
element at index 6 : ['python updated', 'html', 'linux']
element at index 7 : iti

---
> `enumerate(iterable)` function assigns an **index** to each element in a tuple, allowing iteration with both the `index and value`.
---

In [ ]:
my_tuple_enum = enumerate(my_tuple)
print(my_tuple_enum)

In [ ]:
for index, value in enumerate(my_tuple):
   print(f"element at index {index} : {value}")

---

### **Checking if an Element Exists in a Tuple**

You can use the `in` operator to check if a specific element exists in a tuple.


### **Example:**

In [37]:
print(type(my_tuple))

<class 'tuple'>

In [34]:
print("iti" in my_tuple)

True

In [35]:
for element in my_tuple:
    if type(element) == list:
        print("tuple contains a list")

tuple contains a list

In [36]:
print("Python" in my_tuple)

False

---

### **Concatenating Tuples in Python**

Tuples can be concatenated using the `+` operator to create a **new** tuple.


### **Example:**

In [3]:
tuple1 = (1, 2, 3)
tuple2 = ("a", "b", "c")

In [4]:
# Concatenating tuples
result_tuple = tuple1 + tuple2
print(result_tuple)

(1, 2, 3, 'a', 'b', 'c')

---

### **Casting a String to a Tuple in Python**

- Python allows converting a **string** into a **tuple** using the `tuple()` function.
- This function breaks down the string into individual **characters** and stores them as elements in a tuple.


### **Syntax:**
```python
tuple_variable = tuple(string)

In [12]:
course = 'Python'

In [13]:
course = tuple(course)

In [14]:
print(course)

('P', 'y', 't', 'h', 'o', 'n')

---

### **Finding the Minimum and Maximum Values in a Tuple**

Python provides the built-in functions `min()` and `max()` to determine the **smallest** and **largest** elements in a tuple containing numerical values.


### **Syntax:**
```python
min(tuple)  # Returns the smallest value
max(tuple)  # Returns the largest value

In [ ]:
num_tuple = (10, 20, 50, 2, 100, 1000, 30)

In [ ]:
print(f"Minimum number in tuple: {min(num_tuple)}")

In [ ]:
print(f"Maximum number in tuple: {max(num_tuple)}")

In [ ]:
# tuple of one item
courses = ("Python",)
print(courses, type(courses))
print(len(courses))