---

### **Sets in Python**

A **set** is an **unordered** collection of **unique** elements in Python.

---

### **Key Characteristics:**
- **Unordered:** The elements have no fixed position.
- **Unique Elements:** Duplicate values are automatically removed.
- **Mutable:** You can add or remove elements, but sets themselves cannot contain mutable types like lists or dictionaries.
- **Supports Different Data Types:** A set can store a mix of integers, strings, and floats.`only immutable datatypes`

---

### **Example:**

In [2]:
my_set = set()
my_set = {}

In [3]:
my_list = ["Ahmed", 25, "power BI", "iti", 2025, 65.5, "iti"]
print(my_list)

['Ahmed', 25, 'power BI', 'iti', 2025, 65.5, 'iti']

In [4]:
my_set = {"Ahmed", 25, "power BI", "iti", 2025, 65.5, "iti"}

In [5]:
print(my_set)

{65.5, 'Ahmed', 'iti', 'power BI', 2025, 25}

---

### **Getting the Length of a Set**

The `len()` function is used to determine the number of elements in a set.


### **Syntax:**
```python
len(set_name)

In [6]:
print(len(my_set))

6

---

### **Adding an Element to a Set**

In Python, you can use the `add()` method to insert a new element into a set.


### **Syntax:**
```python
set_name.add(element)

In [7]:
print(my_set)

{65.5, 'Ahmed', 'iti', 'power BI', 2025, 25}

In [8]:
my_set.add("Mona")
print(my_set)

{65.5, 'Ahmed', 'iti', 'power BI', 'Mona', 2025, 25}

check this

In [9]:
my_set.add("iti")
print(my_set)

{65.5, 'Ahmed', 'iti', 'power BI', 'Mona', 2025, 25}

In [10]:
my_set.add(("iti", "sql")) # Immutable
print(my_set)

{('iti', 'sql'), 65.5, 'Ahmed', 'iti', 'power BI', 'Mona', 2025, 25}

remove element from set

> - **Hold only immutable datatypes:** A set can store a mix of integers, strings, and floats.

In [11]:
my_set.add(["iti", "opensource", "python"])

TypeError: cannot use 'list' as a set element (unhashable type: 'list')

In [11]:
my_set.add({"name": "Aya"})

TypeError: unhashable type: 'dict'

---

### **Merging Two Sets Using `update()`**

The `update()` method in Python allows adding elements from one set to another, effectively merging them.

### **Syntax:**
```python
set1.update(set2)

In [12]:
set1 = {"Ahmed", "Mohamed", "Hassan", "Mona"}
set2 = {"Aya", "Mona", "Eman"}

set1.update(set2)
# set1 |= set2

In [15]:
print(set1)

{'Mohamed', 'Aya', 'Hassan', 'Mona', 'Ahmed', 'Eman'}

---

### **Removing an Element from a Set**

Python provides the `remove()` method to delete a specific element from a set.


### **Syntax:**
```python
set_name.remove(element)

In [ ]:
print(my_set)

In [16]:
my_set.remove(2025)

In [17]:
print(my_set)

{65.5, 'power BI', 'iti', 'Mona', 'Ahmed', ('iti', 'sql'), 25}

---

### **Removing and Returning an Element from a Set**

Python provides the `pop()` method to **remove and return** a random element from a set.


### **Syntax:**
```python
popped_element = set_name.pop()

In [18]:
my_set.pop()

65.5

In [19]:
print(my_set)

{'power BI', 'iti', 'Mona', 'Ahmed', ('iti', 'sql'), 25}

---

### **`clear()` Method in Sets**

The `clear()` method removes **all elements** from a set, leaving it empty.

### **Syntax:**
```python
set.clear()

In [ ]:
print(my_set)

In [20]:
my_set.clear()

In [21]:
print(my_set)

set()